<ion-content>

  <div class="px-2 py-6">

    <app-video-card [video]="videos[0]"></app-video-card>
  
    <div class="flex w-full gap-4 ">
  
      <ion-icon
        class="text-2xl text-[#FF0000]" name="logo-youtube">
      </ion-icon>
  
      <p class="text-xl font-bold w-fit text-white">
        Shorts
      </p>
    </div>
  
    <div class="flex gap-4 overflow-x-auto px-2">
      @for (short of shorts; track short.id) {
      <app-short-card [short]="short"></app-short-card>
      }
    </div>
  
    @for (video of videos; track video.id) {
    <app-video-card [video]="video"></app-video-card>
    }
  </div>
</ion-content>
